In [181]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy

In [182]:
data=pandas.read_csv("titanic.csv",index_col="PassengerId")

In [183]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 1

In [184]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [185]:
f1=open("f1.txt","w")

In [186]:
f1.write("577 314")

In [187]:
f1.close()

# 2

In [188]:
data["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [189]:
tmp=data["Survived"].value_counts()

In [190]:
ans=float(tmp[1])/(tmp[0]+tmp[1])

In [191]:
ans*=100

In [192]:
ans

38.38383838383838

In [193]:
buf=round(ans,2)

In [194]:
f2=open("f2.txt","w")
f2.write("{}".format(buf))
f2.close()

# 3

In [195]:
clas=data["Pclass"].value_counts()

In [196]:
tmp=round(float(clas[1])/clas.sum()*100,2)

In [197]:
f3=open("f3.txt","w")
f3.write("{}".format(tmp))
f3.close()

# 4

In [198]:
d=pd.DataFrame(data["Age"])

In [200]:
d.dropna(axis=0,how="all")

              Age
PassengerId
1            22.0
2            38.0
3            26.0
4            35.0
5            35.0
7            54.0
8             2.0
9            27.0
10           14.0
11            4.0
12           58.0
13           20.0
14           39.0
15           14.0
16           55.0
17            2.0
19           31.0
21           35.0
22           34.0
23           15.0
24           28.0
25            8.0
26           38.0
28           19.0
31           40.0
34           66.0
35           28.0
36           42.0
38           21.0
39           18.0
...           ...
857          45.0
858          51.0
859          24.0
861          41.0
862          21.0
863          48.0
865          24.0
866          42.0
867          27.0
868          31.0
870           4.0
871          26.0
872          47.0
873          33.0
874          47.0
875          28.0
876          15.0
877          20.0
878          19.0
880          56.0
881          25.0
882          33.0
883          22.0
884          28.0
885          25.0
886          39.0
887          27.0
888          19.0
890          26.0
891          32.0

[714 rows x 1 columns]

In [201]:
numpy.average(d["Age"])

nan

In [208]:
data["Age"].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

# 5

In [219]:
data.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

# 6

In [257]:
dataTmp=data["Name"][data["Sex"]=="female"] # выбирает только женщин

In [258]:
# формирует массив только с именами
name=[]
for i in dataTmp:
    name.append(i.split(", ")[0])

In [259]:
nameFrame=pd.DataFrame({"Name":name})

In [260]:
nameFrame.describe()

             Name
count         314
unique        258
top     Andersson
freq            6