# 1-5

In [95]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [96]:
data=pd.read_csv("titanic.csv",index_col="PassengerId")

In [97]:
data=data[["Pclass","Fare","Age","Sex","Survived"]]

In [98]:
data.head()

             Pclass     Fare   Age     Sex  Survived
PassengerId
1                 3   7.2500  22.0    male         0
2                 1  71.2833  38.0  female         1
3                 3   7.9250  26.0  female         1
4                 1  53.1000  35.0  female         1
5                 3   8.0500  35.0    male         0

In [99]:
data.dropna(axis=0,inplace=True)

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 1 to 891
Data columns (total 5 columns):
Pclass      714 non-null int64
Fare        714 non-null float64
Age         714 non-null float64
Sex         714 non-null object
Survived    714 non-null int64
dtypes: float64(2), int64(2), object(1)
memory usage: 33.5+ KB

In [101]:
x=data[["Pclass","Fare","Age","Sex"]]

In [102]:
tmp={"male":1,"female":0}

In [103]:
x["Sex"]=x["Sex"].map(tmp)

In [104]:
y=data["Survived"]

In [105]:
x.head()

             Pclass     Fare   Age  Sex
PassengerId
1                 3   7.2500  22.0    1
2                 1  71.2833  38.0    0
3                 3   7.9250  26.0    0
4                 1  53.1000  35.0    0
5                 3   8.0500  35.0    1

In [106]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 1 to 891
Data columns (total 4 columns):
Pclass    714 non-null int64
Fare      714 non-null float64
Age       714 non-null float64
Sex       714 non-null int64
dtypes: float64(2), int64(2)
memory usage: 27.9 KB

# 5-7

In [107]:
model=DecisionTreeClassifier(random_state=241)

In [108]:
model.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

In [116]:
print (model.feature_importances_)

[ 0.14000522  0.30343647  0.2560461   0.30051221]